<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <%= link_to "Rails Store", root_path, class:"navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <%= link_to "Início", root_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Contato", home_contact_path, class:"nav-link" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Produtos", products_path, class:"nav-link" %>
                </li>
            </ul>
            <div class="d-flex align-items-center gap-2">
                <% if user_signed_in? %>
                <span class="navbar-text text-light me-2">
                    🔓 <strong><%= current_user.email %></strong>
                </span>
                <form method="post" action="<%= destroy_user_session_path %>" class="d-inline">
                    <input type="hidden" name="_method" value="delete" />
                    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                    <button type="submit" class="btn btn-danger btn-sm">Sair</button>
                </form>
                <% else %>
                <%= link_to "Entrar", new_user_session_path, class: "btn btn-outline-light btn-sm" %>
                <%= link_to "Criar Conta", new_user_registration_path, class: "btn btn-primary btn-sm" %>
                <% end %>
            </div>
        </div>


    </div>
</nav>